.mainContainer{
    background-color: rgba(238, 234, 234, 0.95)!important;
}

.addRecipieContainer{
    display: flex;
    flex-direction: column;
    background-color: #ffffff !important;
    margin-bottom: 60rem !important;
    /*margin-top: 25rem;*/
}

.addRecipieContainer h1{
    text-align: center !important;
    color: black !important;
}

.buttonContainer button {
    font-size: 16px !important;
    color: black !important;
}

.addRecipieContainer label{
     color: black !important;
     font-size: large !important;
 }
input[type=text]{
    border: 2px solid  #8F4738 !important;
    border-radius: 8px !important;
}
input[type=file]{
    border:  2px solid  #8F4738 !important;
    border-radius: 15px !important;
}
textarea{
    border:  2px solid  #8F4738 !important;
    border-radius: 8px !important;
}